@model  IEnumerable<v2.Models.T_Product>


@Ajax.ActionLink("Retour", "Profil", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace
})

<h2>Commande n°@ViewBag.ActiveBasket</h2>


<h1>Artlicles commandés</h1>

<table>
    <thead>
        <tr>
            <td>
                Article
            </td>

            <td>
                Ref
            </td>

            <td>
                Prix unitaire
            </td>

            <td>
                Qté
            </td>

            <td>
                Total
            </td>
        </tr>
    </thead>


    <tbody>
        @foreach (var item in Model)
        {
            <tr class="style1">
                <td>
                    @item.name_product
                </td>

                <td>
                    @item.id_product
                </td>

                <td>
                    @item.price_product€
                </td>

                <td>
                    Commandés: @item.qty_product
                </td>

                <td>
                    @{ var total = item.price_product * item.qty_product; }

                    @total€
                </td>
            </tr>

        }
    </tbody>
</table>    