@using v2.Job
@model v2.Models.T_User

@using (Html.BeginForm("Autherize", "User", FormMethod.Post))
{

    <div class="jumbotron">
        <h1 class="display-4">Connectez vous</h1>
        <p>page de connexion balh blah bnlah nlah blah labh</p>
        <hr class="my-4" />
        <p class="lead"></p>

        <div class="form-group col-5">
            @Html.LabelFor(model => model.mail_user)
            @Html.EditorFor(model => model.mail_user)
            @Html.ValidationMessageFor(model => model.mail_user)
        </div>

        <div class="form-group col-5">
            @Html.LabelFor(model => model.pword_user)
            @Html.EditorFor(model => model.pword_user)
            @Html.ValidationMessageFor(model => model.pword_user)
        </div>

        <label class="field-validation-error">@Html.DisplayFor(model => model.loginErrorMessage) </label>

        <input type="submit" class="btn btn-primary" value="conn" />
        <input type="reset" class="btn" value="reset" />
    </div>
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
