@model v2.Models.T_Product
@using v2.Controllers

<div id="shopHolder" class="container">

    <div id="shopTitle" class=" mainTitle mx-auto">

        <p class="mx-auto">LA BOUTIQUE</p>

    </div>
    
    <div class="shopContainer row">



        <div id="shopFilter" class="col-4">

            <p id="filterTitle">
                Les Filtres
            </p>

            <div class="filterSeparator"></div>

            <div id="filterColor">

                <p class="filterHeader">
                    Trier par couleur:
                </p>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="fitlerColorChoice1" value="Red" />
                    <label class="form-check-label" for="fitlerColorTextChoice1">Rouge</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="fitlerColorChoice1" value="Green" />
                    <label class="form-check-label" for="fitlerColorTextChoice1">Vert</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="fitlerColorChoice1" value="Blue" />
                    <label class="form-check-label" for="fitlerColorTextChoice1">Bleu</label>
                </div>


                <select class="custom-select custom-select-lg">
                    <option selected>Choisissez une couleur</option>
                    <option value="1">Rouge</option>
                    <option value="2">Vert</option>
                    <option value="3">Bleu</option>
                </select>

            </div>

            <div class="filterSeparator"></div>

            <div id="filterPrice">
                <div class="form-group">
                    <label for="formControlRange">Prix:</label>
                    <input type="range" class="form-control-range" id="formControlRange">
                </div>
            </div>

            <div class="filterSeparator"></div>

            <div id="filterIntra" class="form-check form-check-inline">
                <form>
                    <label for="filterIntraOption">aaaaaaaaaaa:</label>
                    <br />
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="filterIntraOption" id="filterIntraCheckTrue" value="true" />
                        <label class="form-check-label" for="filterIntraTrue">Oui</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="filterIntraOption" id="filterIntraCheckFalse" value="false" />
                        <label class="form-check-label" for="filterIntraFalse">Non</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="filterIntraOption" id="filterIntraCheckFalse" value="false" disabled />
                        <label class="form-check-label" for="filterIntraFalse">Maybe</label>
                    </div>
                </form>
            </div>
            <button class="btn btn-default">
                Annuler
            </button>

            <button class="btn btn-primary">
                Valider
            </button>
        </div>


        <div id="shopContent" class="row col-8">

            @foreach (var item in ShopController.getProductList())
            {
                <div class="modal fade" id="productInfosModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    @item.name_product
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <div class="row">

                                    <div class="col-3">
                                        <img height="420" src="~/Ressources/samplePrint_1.jpg" />
                                    </div>

                                    <div class="col-5">
                                        <h2>@item.name_product</h2>
                                        <p>Référence: @item.id_imgproduct</p>

                                        <hr class="my-4" />

                                        @item.desc_product
                                    </div>

                                    <div class="col-4">
                                        @item.price_product

                                        <button class="btn btn-primary">
                                            ajouter au panier
                                        </button>
                                    </div>

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-4 ">
                    <div class="card">
                        <img height="120" src="~/Ressources/samplePrint_1.jpg" />
                        <div class="card-body">
                            <div class="card-title">
                                <h5>
                                    @item.name_product
                                </h5>
                            </div>

                            <div class="card-text">
                                <p>@item.desc_product</p>

                                <p style="font-weight:bold">@item.price_product€</p>
                            </div>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#productInfosModal">
                                Plus d'infos'
                            </button>
                        </div>
                    </div>
                </div>
            }


            @*

        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>*@

        </div>
    </div>
</div>